<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CodeCanvas Blogsphere</title>
  <link rel="stylesheet" href="../../public/css/reset.css">
  <link rel="stylesheet" href="../../public/css/style.css">
</head>
<body>

  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      {{#if loggedIn}}
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/logout">Logout</a></li>
      {{else}}
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Sign Up</a></li>
      {{/if}}
    </ul>
  </nav>

  <main>
    {{{ body }}}
  </main>

  <footer>
    <p>&copy; 2024 Blog Site</p>
  </footer>

  <script src="../../public/js/script.js"></script>
  <script>
    document.querySelector('a[href="/logout"]').addEventListener('click', function(event) {
      event.preventDefault();
      fetch('/api/users/logout', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
      }).then(response => {
        if (response.ok) {
          location.reload();
        } else {
          alert('Failed to log out');
        }
      });
    });
  </script>
</body>
</html>